# Create a new .env file in this folder with these config values:

#INPUT_FILE=deprecated

OUTPUT_FILE=
MKV_FOLDER=

# Please see the table here: https://date-fns.org/v2.28.0/docs/parse
# The following is OBS defaults:
TIMESTAMP_FORMAT="yyyy-LL-dd HH-mm-ss"

FFMPEG_PATH=
FFPROBE_PATH=
#VIDEO_PLAYER_PATH=does-not-work